
<% if (user.books  ) {%> 
  <ul>
    <% user.books.forEach(book => { %> 
    
        
      <li>
        <a href="/library/<%= book.id %>"><%= book.title %> by 
          <% if ( book.author) {%> 
          <%= book.author.firstName %></a>
          <% } %>  
      <li> <img src="<%= book.image %>" alt=""> </li>
      <form method="POST" action="/library/<%= book.id %>?_method=DELETE">
        <button type="submit">Delete</button>
      </form>

    <% }) %> 
  </ul>
<% } else {%>
  
  <p>Library is empty</p>  
  
<% } %> 