<!-- <a href="/home">Add a Book</a> -->
<% let num_books = (user.books.length) %> 

<h1><%= user.name %>'s Library </h1>
<p>You have <%= num_books %> books </p>


<a href="/home" class="btn-floating btn-large waves-effect waves-light red btn tooltipped" data-position="bottom" data-tooltip="Add a Book"><i class="material-icons">add</i></a>



<% if (user.books.length < 1) {%> 
  <p>Library is empty</p>  
  

<% } else { %>
  <ul>
    <% user.books.forEach(book => { %> 
      
          
        <li>
          <a href="/library/<%= book.id %>"><%= book.title %> by
            <% if ( book.author) {%> 
            <%= book.author.firstName %></a>
            <% } %>  
        </li>    
        <li> <img src="<%= book.image %>" alt=""> </li>
        <form method="POST" action="/library/<%= book.id %>?_method=DELETE">
          <button type="submit">Delete</button>
        </form>
    <% }) %> 
    </ul>
  
  
<% } %> 

