<form method="GET" action="/home">
  <label for="title">Title</label>
  <input type="text" name="title" id="title">
  <button type="submit">Find a Book</button>
</form>

<% if (books ) {%> 
  <ul>
    <% books.forEach(book => { %> 
      <% if (book.volumeInfo.imageLinks) { %> 
        <img src="<%= book.volumeInfo.imageLinks.thumbnail  %>" alt="book cover">
        <% } %> 
      <li><%= book.volumeInfo.title %> by <%= book.volumeInfo.authors %> </li>
      <form method="POST" action="/library">
        <input type="hidden" name="title" value="<%= book.volumeInfo.title %>">
        <input type="hidden" name="author" value="<%= book.volumeInfo.authors %>">
        <input type="hidden" name="isbn" value="<%= book.volumeInfo.industryIdentifiers[0].identifier %>">
        <input type="submit" value="Add to libray">
      </form>

    <% }) %> 
  </ul>
<% } else {%>
  <p>No books with that title were found</p>  
  
<% } %> 